@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

